
body {
    background: url(../img/wall/wall_num8.jpg);
}

.section {
    padding: 30px 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.entrance {
    background: url(../img/home/94.jpg);
    background-position: -5px -170px;
    width: 970px;
    height: 310px;
    margin: 180px auto;
}

.entrance .wrap {
    min-height: 100%;
    height: auto !important;
}

.entrance .footer {
    margin-top: -50px;
}

.entrance .footer img {
    width: 150px;
    height: 34px;
}
.result-step .nav a{
    display: inline-block;
    width: 183px;
    height: 58px;
}
.result-step a.step1{
    background: url("../img/divorce/step1灰.png");
}
.result-step a.step2{
    background: url("../img/divorce/step2灰.png");
}
.result-step a.step3{
    background: url("../img/divorce/step3灰.png");
}
.result-step a.step4{
    background: url("../img/divorce/step4灰.png");
}
.result-step a.step5{
    background: url("../img/divorce/step5灰.png");
}
.result-step a.step6{
    background: url("../img/divorce/step6灰.png");
}
.result-step a.step7{
    background: url("../img/divorce/step5灰.png");
}
.result-step a.step8{
    background: url("../img/divorce/step6灰.png");
}